.content {
  margin-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.image-section {
  width:50%; 
  float:right;
  padding-top: 34px;
}

.content h1 {
  margin-bottom: 4px;
  font-size: 40px;
  font-weight: bold;
}

.content h2 {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 0px;
  font-weight: bold;
}

.content ol {
  margin-top: 30px;
  padding-left: 30px;
  line-height: 24px;
}

.content ol li {
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.content .note {
  margin-top: 10px;
  padding-left: 0px;
}

.content .note span {
  font-size: 12px;
}

.main-image {
  position: relative;
}

.main-image a {
  cursor: pointer;
}

.main-image .zoom-icon {
  cursor:pointer;
  background:transparent url("/shared/img2/zoom.png") no-repeat 0 0 !important;
  width:74px;
  height:74px;
  display:block;
  position:absolute;
  top:40%;left:45%;
  -webkit-transition:opacity 0.5s ease 0s;-moz-transition:opacity 0.5s ease 0s;-o-transition:opacity 0.5s ease 0s;-ms-transition:opacity 0.5s ease 0s;transition:opacity 0.5s ease 0s;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)
}

.main-image:hover .zoom-icon {
  opacity:1;-ms-filter:none;filter:none
}

.content .thumbs {
  margin-top: 4px;
  padding-left: 0px;
}

.wrapped-hodl-image img {
  width: 10%;
}

.wrapped-hodl-image {
  opacity: 0.8;
}

.wrapped-hodl-image:hover {
  opacity: 1;
}

.signup-form {
  margin-top: 44px;
}

.signup-title {
  font-size: 12px;
  line-height: 14px;  
}

.cross-sell {
  font-size: 12px;
  margin-top: 20px;
}

.read-more-section {
  margin-top: 30px;
}

.small-link {
  font-size: 10px;
  color: gray;
}

.small-link a {
  color: gray !important;
}

#mc_embed_signup { clear:left; width:50%; }

#mc_embed_signup input.email {
  display: inline !important;
  clear: none !important;
  height: 32px;
  width: 55% !important;
}

#mc_embed_signup .button {
  display: inline !important;
  clear: none !important;
}

#mc_embed_signup form {
  padding: 0 !important;
  margin-top: 8px;
}

#mc_embed_signup input.button {
  width: 20% !important;
}
